
.card{
    width: 230px;
    height: 290px;
    background: #191825;
    border-radius: 10px;
    box-shadow:  0px 1px 10px 1px;
   overflow: hidden;
    
}
.upper-container{
    height: 70px;
    /* background: linear-gradient(to left,rgb(156, 159, 160),rgb(1, 16, 20)); */
}

.image img{
    background: white;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    padding: 5px;
    transform: translate(35px,15px);
    transition-duration: 0.5s;
    animation: ease-out;
}
img:hover{
    
   opacity: 0.6;
  
}


.lower-container {
   margin-top: 120px;
    text-align: center;
    font-weight: 500;
    color: white;
   
}
.lower-container p{
    text-align: justify;
    margin: 1rem;
    font-size: 0.9rem;
}
button{
   
    font-weight: bold;
    color: black;
    background: white;
    border: 2px solid rgb(127, 33, 242);
    border-radius: 6px;
    padding: 0.6rem;
    transition-duration: 0.5s;
    animation: ease-in-out;
}
button:hover{
    background:linear-gradient(to left,rgb(180, 138, 239),rgb(127, 33, 227));
    transform: scale(1.1);
    color: white;
}