
.card{
    width: 250px;
    height: 340px;
    background: white;
    border-radius: 10px;
    box-shadow:  0px 1px 10px 1px;
   overflow: hidden;
    
}
.upper-container{
    height: 70px;
    background: linear-gradient(to left,rgb(156, 159, 160),rgb(1, 16, 20));
}

.image img{
    background: white;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 5px;
    transform: translate(43px,15px);
    transition-duration: 0.5s;
    animation: ease-out;
}
img:hover{
    
   opacity: 0.6;
  
}
img{
    border:  2px solid rgb(1, 16, 20);
}

.lower-container {
   margin-top: 120px;
    text-align: center;
    font-weight: 500;
   
}
.lower-container p{
    text-align: justify;
    margin: 1rem;
    font-size: 0.9rem;
}
button{
   
    font-weight: bold;
    color: black;
    background: white;
    border: 2px solid rgb(1, 16, 20);
    border-radius: 6px;
    padding: 0.6rem;
    transition-duration: 0.5s;
    animation: ease-in-out;
}
button:hover{
    background:linear-gradient(to left,rgb(132, 135, 136),rgb(1, 16, 20));
    transform: scale(1.1);
    color: white;
}