.section-container{
    display: flex;
    align-items: center;
 
  width: 100%;
  
  margin: auto;
  background-color: #191825;
}
.section-container .con{
  display: flex;
  justify-content: center;
  align-items: center;
    flex:  0 0 auto;
    width: 50%;
    
}
.content-container h2{
    color: #865DFF !important;
    text-align: center;
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
}
.content-container h3{
    color: white;
    text-align: center;
}